[submodule "vendor/amqp-spec"]
	path = vendor/amqp-spec
	url = git://github.com/ruby-amqp/amqp-spec.git
[submodule "vendor/amq-protocol"]
	path = vendor/amq-protocol
	url = git://github.com/ruby-amqp/amq-protocol.git
